#app
{
	background-color: black;
	color: white;
}

#content
{
	height: 90%;
}

#tabBox
{
	display: flex;
	height: 10%;
	opacity: 0.6;
	background-color: grey;
}

.tab
{
	margin: 10px;
}

#appList
{
    display: flex;
}

.appListing
{
    border: 1px solid black;
    height: 10vh;
    margin: 10px;
}

.appIcon
{
	height: 10vh;
}

.appLabel
{
    text-align: center;
}